<form data-ng-submit="login()" style="padding-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 center-align">
                <img src="asset/img/logo_with_text2.png" style="width: 110px;"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input id="email" type="text" data-ng-model="data.username" placeholder="Email / ID Pel / Nomor Meter*">
            </div>
            <div class="col s10">
                <input id="password" type="{{ passtype }}" data-ng-model="data.password" placeholder="Kata Sandi*">
            </div>
            <div class="col s2" data-ng-init="passtype = 'password';" style="padding-top: 5px;">
                <a class="btn-floating z-depth-0">
                    <i data-ng-show="passtype == 'password';" data-ng-click="passtype = 'text';" class="fa fa-2x fa-eye-slash"></i>
                    <i data-ng-show="passtype == 'text';" data-ng-click="passtype = 'password';" class="fa fa-2x fa-eye"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s12" data-ng-show="isloading">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
            <div class="col s6">
                <button class="btn btn-large yellow darken-1 waves-light col s12 z-depth-1" type="button" name="action" data-ng-click="redirect('auth/register')">
                    Daftar
                </button>
            </div>
            <div class="col s6">
                <button class="btn btn-large green accent-3 waves-light col s12 z-depth-1" type="submit" name="action">
                    Masuk
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="btn btn-flat col s12 z-depth-1" type="button" style="color:#00acc1" data-ng-click="redirect('auth/forgetpassword')">
                    Lupa Password ?
                </button>
            </div>
            <div class="col s12">
                <button class="btn btn-flat col s12 z-depth-1" type="button" style="color:#00acc1" data-ng-click="redirect('auth/activation?tipe=aktivasi')">
                    Aktivasi Akun
                </button>
            </div>
        </div>
    </div>
</form>
<div class="container-fluid">
    <div class="row">
        <div class="col s12 center-align">
            {{ alt.client }} <br/>
            {{ alt.title }}
        </div>
    </div>
</div>